* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  display: none;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #303030;
  color: black;
}

#modalbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 450px;
  text-align: center;
  padding: 80px 60px;
  font-size: 18px;
  font-weight: 500;
  background-color: gray;
  border-radius: 8px;
  display: none;
  z-index: 3;
}
#modalbox .close-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
#modalbox button {
  background: #bf0f0f;
  color: wheat;
  padding: 15px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  border: 0;
  outline: 0;
  margin-top: 50px;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
#modalbox .cookie {
  width: 100px;
  margin-bottom: 15px;
}

header {
  display: block;
  justify-content: space-between;
}
header .nav1 {
  background-color: #d9d9d9;
  height: 75px;
  width: 100%;
}
header nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header nav a {
  text-decoration: none;
  color: #888787;
}
header nav a .underline {
  color: #595959;
}
header nav .logo {
  padding-left: 10px;
  padding-top: 5px;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  padding-right: 105px;
  padding-bottom: 26px;
  align-items: center;
}
header nav ul li {
  margin-right: 1em;
  list-style: none;
  color: #888787;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
header nav ul .underline {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration-line: underline;
}

body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.nav2 {
  height: 60px;
  justify-content: center;
}
.nav2 ul {
  display: flex;
  justify-content: space-around;
  margin-left: 104px;
  margin-right: 104px;
}
.nav2 ul li {
  color: wheat;
  border-left: 1px solid grey;
  padding-top: 10px;
  display: inline-block;
  padding-left: 40px;
}
.nav2 ul li a {
  color: #595959;
  text-decoration-line: none;
}
.nav2 ul li span {
  display: block;
  font-size: 12px;
  padding-bottom: 8px;
  color: black;
}

.secton1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  top: 130px;
  height: 700px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2 {
  display: block;
  display: flex;
  margin-right: 90px;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 73px;
}
.section2 .company {
  padding: 60px;
  height: 270px;
  margin-right: 10px;
}
.section2 .company h2 {
  color: #474747;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.section2 .company p {
  padding-top: 20px;
}
.section2 button {
  display: inline-flex;
  height: 48px;
  padding: 0px 16px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  border-radius: 4px;
  color: white;
  background: var(--primary, #bf0f0f);
}

.section3 {
  height: 620px;
  background: linear-gradient(0deg, rgba(49, 56, 64, 0.47) 0%, rgba(49, 56, 64, 0.47) 100%), url(../img/Semi-Truck-Backgrounds-HD.jpg), lightgray 40%/cover no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.section3 h1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 10.4px;
  padding-top: 300px;
}
.section3 img {
  margin-left: 650px;
  width: 150px;
}

.section4 .images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem;
}
.section4 .images .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section4 .images .card .mainimg {
  width: 90%;
  margin-bottom: 10px;
}
.section4 .images .card .line {
  margin-top: 10px;
  width: 10%;
}
.section4 .images .card h2 {
  color: #474747;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.section4 .text {
  padding: 60px;
  height: 300px;
  text-align: center;
}
.section4 .text h1 {
  color: #303030;
  text-align: center;
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}
.section4 .text h2 {
  color: #474747;
  text-align: center;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  padding: 20px;
}

.section5 {
  background-image: url(../img/Rectangle\ 140.png);
  height: 240px;
  justify-content: center;
}
.section5 .numbers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
}
.section5 .numbers .number {
  font-size: x-large;
  color: white;
  text-align: center;
}
.section5 .numbers img {
  width: 1px;
  height: 152px;
}

.section6 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: #f4f4f4;
  width: 100%;
  height: 600px;
}
.section6 .product h2 {
  flex-direction: column;
  color: #474747;
  text-align: center;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  border-bottom: 3px solid rgba(196, 196, 196, 0.4);
  border-left: 20px;
  padding: 50px;
  margin-left: 450px;
  margin-right: 450px;
}
.section6 .product p {
  display: flex;
  width: 524px;
  height: 67px;
  flex-direction: column;
  color: #474747;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-left: 450px;
  margin-right: 450px;
  margin-bottom: 30px;
  padding-top: 50px;
}
.section6 .wrapper {
  max-width: 1200px;
  position: relative;
}
.section6 .wrapper .carousel {
  overflow: hidden;
  white-space: nowrap;
}
.section6 .carousel img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  margin-left: 14px;
}

.section7 {
  padding: 40px;
}
.section7 h2 {
  flex-direction: column;
  color: #474747;
  text-align: center;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  border-bottom: 3px solid rgba(196, 196, 196, 0.4);
  margin-left: 450px;
  margin-right: 450px;
  padding: 50px;
}
.section7 .brands {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem;
}
.section7 .brands .logoi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section7 .brands .logoi img {
  width: 100%;
  margin-bottom: 10px;
}
.section7 .brands .logoi h3 {
  color: #474747;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.section7 button {
  display: flex;
  height: 48px;
  padding: 0px 16px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 600px;
  background: var(--primary, #bf0f0f);
}

footer {
  width: 100%;
  height: 383px;
  flex-shrink: 0;
  background-image: url(../img/White-fur-rug-texture-patternpictures-1313\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
footer .footer1 {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #fff;
  padding: 40px;
}
footer .footer1 .dvginformation2 a {
  color: #fff;
}
footer .logo2 {
  width: 80px;
  height: 80px;
}
footer .dvg {
  color: #fff;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}
footer .dvg-information {
  display: flex;
  width: 300px;
  height: 12px;
  flex-direction: column;
  flex-shrink: 0;
}
footer .dvg-information img {
  width: 20px;
  height: 20px;
}
footer ul {
  list-style: none;
  text-decoration-line: none;
}
footer ul li {
  padding: 5px;
}
footer ul a {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
footer ul a:link {
  text-decoration: none;
}
footer .social p {
  color: #fff;
  text-align: start;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.social_icons {
  display: flex;
  align-items: start;
}

.footer2 {
  height: 20%;
  width: 100%;
  background-blend-mode: multiply;
  background: rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.footer2 .copyright {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 137.99%;
  letter-spacing: 0.42px;
}
.footer2 a {
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 137.99%;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.footer2 span {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 137.99%;
  letter-spacing: 0.42px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode a {
  color: white;
}
.dark-mode span {
  color: white;
}

.darkbtn {
  border-radius: 50%;
  background-color: black;
  color: #f4f4f4;
  width: 40px;
  height: 40px;
  font-size: small;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #bf0f0f;
  color: white;
}

@media screen and (max-width: 360px) {
  body {
    width: 400px;
  }
  .topnav {
    display: inline;
  }
  .topnav a {
    color: #bf0f0f;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav1 .logo img {
    width: 120px;
  }
  .nav1 ul {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0%;
  }
  .nav1 ul li a {
    font-size: small;
  }
  .nav1 ul button {
    visibility: hidden;
  }
  .nav2 {
    display: none;
  }
  .section2 {
    margin-left: auto;
    margin-right: auto;
    height: 900px;
  }
  .section2 img {
    width: 100%;
  }
  .section2 .company {
    width: 100%;
  }
  .section2 .company .line {
    width: 60%;
  }
  .section2 .company h1 {
    font-size: 20px;
  }
  .section2 .company p {
    font-size: 15px;
  }
  .section3 {
    background-size: 50%;
  }
  .section4 .images {
    height: 1000px;
  }
  .section5 {
    height: 900px;
  }
  .section5 .numbers {
    flex-direction: column;
  }
  .section5 img {
    transform: rotate(-90deg);
  }
  .section6 .product {
    height: 300px;
  }
  .section6 .product p {
    width: auto;
    font-size: 12px;
  }
  .section7 {
    height: 1000px;
  }
  .section7 h2 {
    margin: auto;
  }
  .section7 button {
    margin: auto;
  }
  footer {
    height: 1000px;
  }
  footer .footer1 {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  footer .footer2 {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 640px;
  }
  .nav1 .logo img {
    width: 200px;
  }
  .nav1 ul {
    padding-bottom: 0%;
    padding-left: 50px;
    padding-right: 20px;
  }
  .nav1 ul li a {
    font-size: 10px;
  }
  .nav2 {
    width: 640px;
    height: 60px;
  }
  .nav2 ul {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }
  .nav2 ul li {
    align-items: center;
    padding: 10px;
  }
  .nav2 ul li a {
    font-size: 9px;
  }
  .nav2 ul li span {
    font-size: 7px;
  }
  .section2 {
    height: 280px;
  }
  .section2 img {
    width: 50%;
  }
  .section2 .company {
    margin: auto;
    padding: 10px;
  }
  .section2 .company .line {
    width: 60%;
  }
  .section2 .company h1 {
    font-size: 13px;
  }
  .section2 .company h2 {
    font-size: 10px;
    margin: 0;
  }
  .section2 .company p {
    padding-top: 0;
    font-size: 9px;
  }
  .section2 button {
    width: 100px;
    font-size: 10px;
    margin-bottom: 10px;
    margin-left: 70px;
  }
  .section3 {
    background-size: 100%;
  }
  .section3 img {
    margin-left: 230px;
  }
  .number h2 {
    font-size: 25px;
  }
  .number span {
    font-size: 20px;
  }
  .section7 {
    margin: auto;
  }
  .section7 h2 {
    margin: auto;
  }
  .section7 button {
    font-size: 10px;
    width: 100px;
    margin: auto;
  }
}
footer .logo2 {
  width: 40px;
  height: 40px;
}
footer p {
  font-size: 13px;
}
footer a {
  font-size: 11px;
}
footer .footer2 .copyright p {
  font-size: 10px;
}
footer .footer2 a {
  font-size: 11px;
}/*# sourceMappingURL=style.css.map */